name: Web deploy

on:
  push:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install trunk
      run: cargo install trunk
    - name: Build with trunk
      run: trunk build --release --no-default-features
    - name: Upload pages artifacts
      id: deployment
      uses: actions/upload-pages-artifact@v3
      with:
        path: dist/
